---
---
@charset "utf-8";

// ****************************************
//  Utilities
// *****************************************/

@import "vars";
@import "utils/mixins/layout";

// ****************************************
//  Base
// *****************************************/

@import "base/normalize";
@import "base/defaults";


// ****************************************
//  Layout
// *****************************************/

// Primary Layout Regions
@import "layout/scafolding";
@import "layout/aside";

// Sub Layout Regions
@import "layout/company-profile";


// ****************************************
//  Components
// *****************************************/

// General Compnents
@import "components/misc";
@import "components/browse-companies";
@import "components/browse-developers";
@import "components/speech";
@import "components/details";



// Still working on all this

// #map, .primary-content {
//     -webkit-box-shadow: 0 0 15px -5px #000;
//     box-shadow: 0 0 15px -5px #000;
// }

.map {
    width: 100%;
    height: 500px;
    background-color: #CADFAA;
    border-radius: 4px;
}