// ****************************************
//  Layout Helpers
// ****************************************

// Micro Clearfix
@mixin clearfix {
    // More Details: http://nicolasgallagher.com/micro-clearfix-hack/
    // For modern browsers
    // 1. The space content is one way to avoid an Opera bug when the
    //    contenteditable attribute is included anywhere else in the document.
    //    Otherwise it causes space to appear at the top and bottom of elements
    //    that are clearfixed.
    // 2. The use of `table` rather than `block` is only necessary if using
    //    `::before` to contain the top-margins of child elements.
    &::before,
    &::after {
        content: " ";   // 1
        display: table; // 2
    }

    &::after {
        clear: both;
    }

}

// For using: @extend %clearfix
%clearfix {
    @include clearfix;
}

// Vertical Rhythm (Accomplished by Lobotomized Own)
@mixin vertical-rhythm($gutter) {
    /**
     * Apply to containers to get nice gutters between vertical items
     *
     * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
     */

    // Reset all first-child elements to have no margin
    > * {
        margin: 0;
    }

    // It's the "Lobotomized Owl"
    > * + * {
        margin-top: $gutter;
    }
}


// ****************************************
//  Detail
// ****************************************

@mixin detail {
    @extend %clearfix;

    // Label
    > :first-child {
        float: left;
    }

    // Value
    > :last-child {
        float: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


// ****************************************
//  Icon Left
// ****************************************

// Use when you want an icon image to the left of some text
@mixin icon-left($path) {
    padding-left: 1.5em;
    background: transparent url($path) no-repeat left center;
    background-size: 1em;
}


// ***********************************
//  Responsive
// ***********************************

// Responsive
@mixin wider-than($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

// Responsive
@mixin taller-than($min-height) {
    @media screen and (min-height: $min-height) {
        @content;
    }
}

