---
layout: default
---

<header class="content-header">
    <h1>Welcome</h1>
    <div class="actions">
        <a href="/add-company" class="button add-company">Add a company</a>
    </div>
</header>

<h2>I need your help!</h2>

<p>
    This site was launched on <strong>Easter Sunday 2015</strong>. The idea is to be a list of companies that hire web developers. Help by adding as many companies as you can, even if it's not a company you work for!
</p>

<p>See the <a href="https://github.com/bradwestfall/webdevphoenix/blob/master/contribute.md">Contribute Page</a></p>

<h2>All companies</h2>

<div class="map"></div>

<div class="browse-companies">
    {% for page in site.pages %}{% if page.company %}
        {% include browse_companies.html %}
    {% endif %}{% endfor %}
</div>