---
layout: default
---

<header class="content-header">
    <h1>Welcome</h1>
    <div class="actions">
        <a href="/add-company" class="button add-company">Add a company</a>
    </div>
</header>

<p class="highlight">
    WebDevPhoenix is community-driven list of companies which hire web
    developers in the Phoenix Area. See the
    <a href="https://github.com/bradwestfall/webdevphoenix/blob/gh-pages/CONTRIBUTING.md">Contribute Page</a>
    to add company listings.
</p>

<h2>Company Listings</h2>

<!-- <div class="map"></div> -->

<div class="browse-companies">
    {% for page in site.pages %}{% if page.company_name %}
        {% include browse_companies.html %}
    {% endif %}{% endfor %}
</div>