<aside>

    <a class="speech about" href="/">
        Discover companies in the Phoenix area that hire web developers
    </a>

    <nav class="city">
        <h2>By Location</h2>
        <a href="/all">All</a>
        {% for object in site.data.locations %}
            <a href="/{{object.location}}" title="">{{object.title}}</a>
        {% endfor %}
    </nav>

    <nav class="language">
        <h2>By Language</h2>
        <a href="/all">All</a>
        {% for object in site.data.languages %}
            <a href="/{{object.language}}" title="">{{object.title}}</a>
        {% endfor %}
    </nav>

    <footer>
        <a class="fa fa-github" href="https://github.com/bradwestfall/webdevphoenix"></a>
        <a href="/about">About</a>
        <a href="/jobs">Jobs</a>
        <a href="/add-company">Add a company</a>
    </footer>

</aside>