<aside>

    <div class="speech about">
        Discover companies in the Phoenix area that hire web developers
    </div>

    <nav class="city">
        <h2>By Location</h2>
        <a href="/">All</a>
        <a href="/east-valley">East Valley</a>
        <a href="/west-valley">West Valley</a>
        <a href="/north-valley">North Valley</a>
        <a href="/central-valley">Central Valley</a>
    </nav>

    <nav class="languate">
        <h2>By Language</h2>
        <a href="/">All</a>
        <a href="/node">Node</a>
        <a href="/python">Python</a>
        <a href="/ruby">Ruby</a>
        <a href="/php">PHP</a>
        <a href="/dotNET">.NET</a>
        <a href="/java">Java</a>
        <a href="/javascript">JavaScript (Front-End)</a>
    </nav>

    <footer>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/add-company">Add a company</a>
    </footer>

</aside>