// Theme
$blue: rgb(25, 161, 209);
$green: #97D062;

// Defaults
$default-font-family: 'Open Sans' serif;
$default-text-color: #555;
$default-anchor-color: $blue;
$default-font-weight: 300;
$default-font-size: 12pt;

// Misc Colors
$line-color: #eee;

// // Layout Colors
// $sidebar-bg: #333;

// // Layout Dimentions
// $page-min-width: 1250px;
// $content-max-width: 1400px; // used on various elements
// $primary-header-height: 100px;
// $primary-footer-height: 50px;
// $primary-notice-height: 50px;

// // Responsive Sidebar
// $sidebar-breakpoint: 610px;
// $sidebar-width: 165px;

// Layout Misc
$gutter: 1rem;