// Theme
$blue: #2093BB;
$green: #97D062;

// Defaults
$default-font-family: 'Open Sans' serif;
$default-text-color: #555;
$default-anchor-color: $blue;
$default-font-weight: 300;
$default-font-size: 12pt;

// Misc Colors
$line-color: #eee;

// Responsive
$main-breakpoint: 800px;

// Layout Misc
$gutter: 1rem;