@include wider-than(1300px) {
    .browse-companies {
        .browse-company {
            display: inline-block;
            width: calc(50% - 8px); // somewhat of a hack
        }
    }
}

.browse-company {
    @extend %clearfix;
    border-bottom: 1px solid $line-color;
    padding: 10px;

    > i {
        float: left;
        font-size: 3.2em;
        margin-right: 10px;
        color: #ddd;
    }   

    > div {
        margin-left: 80px;
    }

    .company {
        font-weight: 600;
        display: inline-block;
        vertical-align: bottom;
        font-size: 1.3em;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
        font-size: 0.8em;
    }
}
