p.highlight {
    background-color: #E6F1F6;
    border-radius: 6px;
    padding: 10px;
    color: #236F8E;
}

.content-header {
    position: relative;

    .actions {
        position: absolute;
        right: 0;
        top: 0;
    }

}