---
layout: default
---

<div class="company-profile">

    <header class="content-header">
        <h1>{{ page.company }}</h1>
        <div class="actions">
            {% if page.website %}
                <a class="twitter" href="http://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i>{{ page.twitter }}</a>
            {% endif %}
        </div>
    </header>

    <div class="details">
        <div><strong>City:</strong><span>{{ page.city | join:', ' }}</span></div>
        <div><strong>Company Size:</strong><span>{{ page.company_size }}</span></div>
        <div><strong>Dev Team Size:</strong><span>{{ page.dev_team_size }}</span></div>
        <div><strong>Client Work:</strong><span>{% include yep_nope.html input=page.client_work %}</span></div>
        <div><strong>Recruiter:</strong><span>{% include yep_nope.html input=page.recruiter %}</span></div>
        <div><strong>Startup:</strong><span>{% include yep_nope.html input=page.startup %}</span></div>
    </div>

    <div class="primary">
        
        {% if page.website %}
        <div class="website">
            <h2>Site</h2>
            <a href="{{ page.website }}">{{ page.website }}</a>
        </div>
        {% endif %}

        {% if page.job_listings %}
        <div class="job-listings">
            <h2>Job Listings</h2>
            <a href="{{ page.job_listings }}">{{ page.job_listings }}</a>
        </div>
        {% endif %}

        {% if page.stack %}
        <div class="stack">
            <h2>Stack</h2>
            {{ page.stack | join:', ' }}
        </div>
        {% endif %}

    </div>

    {% if page.content != '' %}
    <div class="about">
        <h2>About Us</h2>
        {{ content | truncatewords: 500 }}
    </div>
    {% endif %}

</div>