aside {
    @include vertical-rhythm($gutter);

    .speech.about {
        display: block;
    }
    
    nav {
        a {
            font-size: 0.8em;
            border: 1px solid $line-color;
            display: inline-block;
            padding: 3px 6px;
            white-space: nowrap;
            margin-top: 10px;
            border-radius: 3px;
        }
    }

    > footer {
        border-top: 1px solid $line-color;
        margin-top: 3em;
        padding-top: 0.5em;
        text-align: center;

        a {
            display: inline-block;
            padding: 3px 5px;
            color: #aaa;
            font-size: 0.8em;
            &:hover {
                color: $default-anchor-color;
            }
        }
    }

}