.page {
    padding: $gutter;
}

.primary-content {
    @extend %clearfix;
}

aside, main {
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    padding: $gutter;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(255,255,255,0.5);
}
    
aside {
    @include wider-than($main-breakpoint) {
        float: left;
        width: 300px;
    }
}

aside ~ main {
    margin-top: 1.5 * $gutter;
    @include wider-than($main-breakpoint) {
        margin-left: 320px;
        margin-top: 0;
    }
}

main {
    @include vertical-rhythm($gutter);
    min-height: 200px;
    overflow: hidden;
}
